@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      circle at top,
      rgb(70 241 190 / 98%),
      rgb(103 173 250 / 87%)
    ),
    url('./assets/bg-pattern-dark.png');
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 100dvh;
  margin: 0;
}

#game-wrapper {
  display: grid;
  grid-template-columns: auto 0.2fr;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin: 3rem auto 2rem;
}

header {
  display: grid;
  grid-template-areas:'logo title';
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0 0;
}

header img {
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 8px #000c37cf);
  grid-area: logo;
  max-width: 4rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #3f3b00;
}

header h1 {
  grid-area: title;
  margin: 0 auto;
  color: #1338bd;
}

#game-container {
  max-width: 45rem;
  margin: 0rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#102cab, #1a57eb);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#players li {
  display: flex;
  align-items: center;
  width: 50%;
  border: 2px solid transparent;
}

#players.highlight-player li.active {
  border-color: #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #a1c7ff;
}

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: #80b1f8;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

#players button:hover {
  color: #a1c7ff;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.player-name {
  display: inline-block;
  width: 8rem;
  font-size: 1rem;
  color: #cbf1ff;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.player input {
  font: inherit;
  font-size: 1rem;
  width: 8rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #50a3ffb0;
  text-align: center;
  text-transform: uppercase;
}

.player-symbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: #e1dec7;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: #f8c031;
  border: none;
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 5rem;
  height: 5rem;
  border: none;
  background: #50a3ffb0;
  color: #01346ce6;
  font-size: 4rem;
  cursor: pointer;
  font-family: 'Caprasimo', cursive;
  padding: .5rem;
  box-shadow: 0px 0px 3px 1px #3e9affd6;
}

#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1338bdcf;
  animation: pop-in 0.25s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-align: center;
  color: #67cee3;
  margin: 0;
}

#game-over p {
  font-size: 2rem;
  text-align: center;
  color: #e1dec7;
}

#game-over button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #67cee3;
  color: #67cee3;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px #67cee3cc;
}

#game-over button:hover {
  background: #67cee3;
  color: #3f3b00;
  transform: scale(1.1);
  box-shadow: 0 0 20px #67cee3cc;
}

#log {
  max-width: 20rem;
  color: #3f3b00;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#log li {
  border-radius: 4px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0.75rem;
}

#log li.highlighted {
  background-color: #3f3b00;
  color: white;
}

#game-hints {
  text-align: center;
  color: #46432f;
}

#game-hints h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 2rem;
  margin: 0;
}

#game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1.5rem;
}




#players .player {
  display: flex;
  align-items: center;
}

.player-symbol {
  margin-left: 0.5rem;
}

#players button {
  padding: 0;
}
#log {
  margin: 0;
  background: #0a0a0a80;
  background: #1236ba75;
  width: 100%;
  min-height: 100%;
  color: #fff;
}
#log h2 {
  color: #bdd6fb;
}

@media screen and (max-width: 1024px) {
  #game-wrapper {
    display: grid;
    grid-template-columns: auto 0.4fr;
  }
}
@media screen and (max-width: 991px) {
  #game-wrapper {
    grid-template-columns: auto 0.8fr;
  }
}

@media screen and (max-width: 750px) {
  #game-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  #log {
    min-height: 420px;
    max-width: 515px;
    margin: 0 auto;
  }
  #game-container {
    max-width: 100%;
  }
  #players {
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
  #players li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #players.highlight-player li.active {
    width: 100%;
  }
  #game-board button {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
  #game-over h2 {
    font-size: 3rem;
  }
  #game-wrapper {
    padding: 0 1rem;
  }
  #game-board {
    margin: 0;
  }
  body {
    background-size: 100% 100%, 80% 20%, 100% 100%;
    background-attachment: fixed;
  }
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-text {
  0% {
    color: #0031e0dc;
  }
  50% {
    color: #001972;
  }
  100% {
    color: #0031e0dc;
  }
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    border-color: #a1c7ff;
    box-shadow: 0 0 0 0 #5adcf666;
  }
  50% {
    border-color: #86b3ca;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #a1c7ff;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
